<div class="centered">
  <div class="link-extractor">
    <h1 class="link-extractor__header">Extractor</h1>
    <%= form_with model: @form, url: extractor_index_path, class: 'link-extractor__form' do |form| %>

      <% if @form.errors.any? %>
        <% @form.errors.full_messages.each do |message|%>
          <p class="link-extrator__error"><%= message %> </p>
        <%end%>
      <%end%>

      <%= form.label :link, 'Link to a Proz profile', class: 'link-extractor__label' %>
      <div class="link-extractor__wrapper">
        <%= form.text_field :link, class: 'link-extractor__input', size: 40, placeholder: 'https://www.proz.com/profile/52171' %>
        <%= form.submit 'Extract', class: 'link-extractor__button' %>
      </div>
    <% end %>
  </div>
</div>
