<div class="centered">
  <div class="link-extractor">
    <h1 class="link-extractor__header"><%= @linguist.first_name %> <%= @linguist.last_name %></h1>
    <p><strong>Country</strong>: <%= @linguist.country %></p>
    <p><strong>Native language</strong>: <%= @linguist.native_language %></p>
    <p><strong>Target language</strong>: <%= @linguist.target_language %></p>
    <p><strong>Source</strong>: <%= @linguist.source %></p>
  </div>
</div>
